body {
    font-family: 'Noto Sans TC', sans-serif;
    color: #1E1E1E;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

// utility

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    margin-top: 5%;
}


.main-wrapper {
    margin-top: 80px;
    min-height: calc(100vh - 240px);

    @media only screen and (max-width: 576px) {
        margin-top: 50px;
    }
}

// slider
.main-slider,
.slide {
    background: $color-white;

    &-item {
        min-height: 500px;
    }

    &-1 {
        background: url(/storage/image/slide-1.jpg) no-repeat;
        background-size: cover;
        background-position: top center;
        min-height: 600px;
        position: relative;

        @media only screen and (max-width: 992px) {
            background: url(/storage/image/slide-1-mb.jpg) no-repeat;
            background-size: cover;
            background-position: bottom center;
            min-height: 700px;
            position: relative;
        }
    }

    &-caption {
        min-width: 300px;
        max-width: 400px;
        margin-top: 10%;
        background: $blue;
        border: 4px solid #FFFFFF;
        border-radius: 10px;
        outline: solid 15px $blue;
        color: $color-white;
        padding: 4% 5%;

        @media only screen and (max-width: 768px) {
            max-width: unset;
        }

        h1 {
            font-size: 60px;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 24px;
            font-weight: 400;
            line-height: 2;
            margin-bottom: 15px;
        }

        .deco-line::after {
            content: '';
            width: 150px;
            height: 3px;
            background: white;
            display: block;
            margin: 10px 0;
        }

    }
}

.slick-dots {
    bottom: 10px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

// home page

.display-box {
    display: flex;
    background-color: $teal;
    color: $color-white;
    width: fit-content;
    padding: 20px 50px;
    border-radius: 15px;
    align-items: center;

    @media (max-width: 768px) {
        width: 100%;
        justify-content: center;
        padding: 5%;
    }

    h2 {
        font-size: 40px;

        @media (max-width: 576px) {
            font-size: 30px;
        }
    }

    img {
        margin-right: 25px;
    }

    &-outline {
        border: solid white 5px;
    }

    &-down {
        position: relative;
        top: 40px;
    }
}

.border-box {
    border: solid white 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 90px 5%;
    background: $body-bg;
}

// option page

#option-page.container {
    @media (min-width: 992px) {
        max-width: 900px;
    }
}

// service page 
#shipping-des {
    background: $color-white;
    margin: 100px auto;
    padding: 65px 1%;

    .display-box {
        position: absolute;
        left: 18px;
        top: -110px;

        @media (max-width: 768px) {
            position: relative;
            top: unset;
            left: unset;
            margin-bottom: 20px !important;
        }

    }
}

.cus-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: start;

    @media (max-width: 1200px) {
        grid-template-columns: 100%;
    }
}

#service-page {
    .display-box {
        display: block;
        min-width: 360px;
        margin-top: 70px;

        @media (max-width: 1200px) {
            min-width: unset;
            width: 100%;
            margin-top: unset;
            margin-bottom: 30px;
        }

        p {
            font-size: 24px;
            font-weight: 400;
        }
    }
}

// about page

#about {
    background-image: url(/storage/image/about-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    height: 100vh;
}

.about-content {
    max-width: 480px;
    padding: 5% 20px 0;
    margin-right: 30%;
    margin-left: auto;

    @media (max-width: 768px) {
        margin-right: auto;
        margin-left: auto;
    }

    h1 {
        font-size: 50px;
        font-weight: 500;
        color: $blue;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            font-size: 40px;
        }
    }

    p {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1.5px;
        line-height: 31px;
        margin-bottom: 20px;
        color: #1E2E38;
    }
}

// embargo page

#embargo-page {
    margin-bottom: 90px;
}

.banner {
    background-image: url(/storage/image/header-banner.jpg);
    min-height: 190px;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;

    @media (max-width: 1200px) {
        background-image: url(/storage/image/header-banner-sm.svg);
        min-height: 190px;
        background-repeat: no-repeat;
        background-position: center right;
    }

    &-wrapper {
        background: $color-white;
    }

    div {

        display: inline-flex;
        align-items: center;

        img {
            margin-right: 20px;
        }

    }
}

.list {
    h2 {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 25px;
    }

    &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;

        &-box {
            display: grid;
            background: $color-white;
            box-sizing: border-box;
            border-radius: 15px;
            width: 170px;
            height: 170px;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin-right: 15px;
            margin-bottom: 25px;

            p {
                text-align: center;
                font-size: 14px;
                font-weight: 500;
            }

            img {
                width: 70px;
                margin: auto;
            }
        }
    }

}