body {
    font-family: 'Noto Sans TC', sans-serif;
    color: #1E1E1E;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

// utility

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    margin-top: 5%;
}


.main-wrapper {
    margin-top: 80px;

    @media only screen and (max-width: 576px) {
        margin-top: 50px;
    }
}

// slider
.main-slider,
.slide {
    background: $color-white;

    &-item {
        min-height: 500px;
    }

    &-1 {
        background: url(/storage/image/slide-1.jpg) no-repeat;
        background-size: cover;
        background-position: top center;
        min-height: 600px;
        position: relative;

        @media only screen and (max-width: 992px) {
            background: url(/storage/image/slide-1-mb.jpg) no-repeat;
            background-size: cover;
            background-position: bottom center;
            min-height: 700px;
            position: relative;
        }
    }

    &-caption {
        min-width: 300px;
        max-width: 400px;
        margin-top: 10%;
        background: $blue;
        border: 4px solid #FFFFFF;
        border-radius: 10px;
        outline: solid 15px $blue;
        color: $color-white;
        padding: 4% 5%;

        @media only screen and (max-width: 768px) {
            max-width: unset;
        }

        h1 {
            font-size: 60px;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 24px;
            font-weight: 400;
            line-height: 2;
            margin-bottom: 15px;
        }

        .deco-line::after {
            content: '';
            width: 150px;
            height: 3px;
            background: white;
            display: block;
            margin: 10px 0;
        }

    }
}

.slick-dots {
    bottom: 10px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

.display-box {
    display: flex;
    background-color: $teal;
    color: $color-white;
    width: fit-content;
    padding: 20px 50px;
    border-radius: 15px;
    align-items: center;

    h2 {
        font-size: 40px;

        @media (max-width: 576px) {
            font-size: 30px;
        }
    }

    img {
        margin-right: 25px;
    }

    &-outline {
        border: solid white 5px;
    }

    &-down {
        position: relative;
        top: 40px;
    }
}

.border-box {
    border: solid white 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 90px 5%;
    background: $body-bg;
}