body {
    font-family: 'Noto Sans TC', sans-serif;
    color: #1E1E1E;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

// summernote
.edit-content {
    padding: 5%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0.5rem;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 16px;
    }

}

// utility

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-through {
    text-decoration: line-through;
    color: #B6B5B5
}

.login-form {
    margin-top: 5%;
}


.main-wrapper {
    margin-top: 80px;
    min-height: calc(100vh - 240px);

    @media only screen and (max-width: 576px) {
        margin-top: 50px;
    }
}

.cus-container {
    max-width: 800px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.text-blue {
    color: $blue;
}

.d-grid {
    display: grid;
}

// 首頁 slider
.main-slider,
.slide {
    background: $color-white;

    &-item {
        min-height: 500px;
        position: relative;

        img {
            min-height: 500px;
            max-height: 600px;
            width: 100%;
            object-fit: cover;

            @media only screen and (max-width: 768px) {
                min-height: 700px;
                max-height: 700px;
            }
        }
    }

    &-caption-wrapper {
        position: absolute;
        top: 50px;
        left: 10%;
        max-width: 600px;
        min-width: 450px;

        @media only screen and (min-width: 1440px) {
            top: 15%;
        }

        @media only screen and (max-width: 768px) {
            max-width: unset;
            min-width: unset;
            width: 100%;
            left: 0;
            padding: 0 8%;
        }
    }

    &-caption {
        background: $blue;
        border: 4px solid #FFFFFF;
        border-radius: 10px;
        outline: solid 15px $blue;
        color: $color-white;
        padding: 10% 15%;

        @media only screen and (max-width: 768px) {
            min-width: 100%;
            max-width: 100%;
            padding: 5%;
        }

        h1 {
            font-size: 60px;
            margin-bottom: 15px;

            @media only screen and (max-width: 768px) {
                font-size: 50px;
            }
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 24px;
            font-weight: 400;
            line-height: 2;
            margin-bottom: 15px;
        }

        .deco-line::after {
            content: '';
            width: 150px;
            height: 3px;
            background: white;
            display: block;
            margin: 10px 0;
        }

    }
}


// home page

.display-box {
    display: flex;
    background-color: $teal;
    color: $color-white;
    width: fit-content;
    padding: 20px 50px;
    border-radius: 15px;
    align-items: center;

    @media (max-width: 768px) {
        width: 100%;
        justify-content: center;
        padding: 5%;
    }

    h2 {
        font-size: 40px;

        @media (max-width: 576px) {
            font-size: 30px;
        }
    }

    img {
        margin-right: 25px;
    }

    &-outline {
        border: solid white 5px;
    }

    &-down {
        position: relative;
        top: 40px;
    }
}

.border-box {
    border: solid white 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 90px 5%;
    background: $body-bg;
}

// option page

#option-page.container {
    @media (min-width: 992px) {
        max-width: 900px;
    }
}

#tandc-modal {
    overflow-y: scroll;
}

// service page
#shipping-des {
    background: $color-white;
    margin: 100px auto;
    padding: 65px 1%;

    .display-box {
        position: absolute;
        left: 18px;
        top: -110px;

        @media (max-width: 768px) {
            position: relative;
            top: unset;
            left: unset;
            margin-bottom: 20px !important;
        }

    }
}

.cus-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: start;

    @media (max-width: 1200px) {
        grid-template-columns: 100%;
    }
}

#service-page {
    .display-box {
        display: block;
        min-width: 360px;
        margin-top: 70px;

        @media (max-width: 1200px) {
            min-width: unset;
            width: 100%;
            margin-top: unset;
            margin-bottom: 30px;
        }

        p {
            font-size: 24px;
            font-weight: 400;
        }
    }
}

#card-reqular {
    min-width: 280px;
}

#card-group {
    min-width: 240px;
}

// about page

#about {
background-color: #f1fbff;
}

.about-mb-img {
display: none;
width: 100%;
@media (max-width: 768px) {
    display: block;
}
}

.about-content {
    padding: 5%;
    background-image: url(/storage/image/about-bg-3.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right;

    @media (max-width: 768px) {
        margin-right: auto;
        margin-left: auto;
        background-image: unset;
    }

    h1 {
        font-size: 34px;
        font-weight: 500;

        @media (max-width: 768px) {
            font-size: 26px;
        }
    }

    h2 {
            font-size: 30px;
            @media (max-width: 768px) {
                font-size: 26px;
            }
        }

        h3{
            font-size: 30px; 
            color: $blue;
            @media (max-width: 768px) {
                font-size: 26px;
            }
        }
    p {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1.5px;
        line-height: 31px;
        margin-bottom: 20px;
        color: #1E2E38;
    }
}

.about-text {
    max-width: 1000px;
}

// embargo page

#embargo-page {
    margin-bottom: 90px;
}

.banner {
    background-image: url(/storage/image/header-banner.jpg);
    min-height: 190px;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;

    @media (max-width: 1200px) {
        background-image: url(/storage/image/header-banner-sm.svg);
        min-height: 190px;
        background-repeat: no-repeat;
        background-position: center right;
    }

    &-wrapper {
        background: $color-white;
    }

    div {

        display: inline-flex;
        align-items: center;

        img {
            margin-right: 20px;
        }

    }
}

.list {
    h2 {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 25px;
    }

    &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;

        &-box {
            display: grid;
            background: $color-white;
            box-sizing: border-box;
            border-radius: 15px;
            width: 170px;
            height: 170px;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin-right: 15px;
            margin-bottom: 25px;

            p {
                text-align: center;
                font-size: 14px;
                font-weight: 500;
            }

            img {
                width: 70px;
                margin: auto;
            }
        }
    }

}

// location page

#location-page {
    background-image: url(/storage/image/location-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: calc(100vh - 240px);
    padding: 50px 0;

    .edit-box {
        padding: 5%;
        height: 600px;
        overflow-y: scroll;
    }

    h4 {
        font-size: 20px;
        color: #0094AE;
        text-align: center;
        font-weight: 400;
    }
}

#location-page,
#tracking-page {
    .location-link {
        display: flex;
        justify-content: space-between;
    }

    .display-box {
        display: block;
        padding: 30px 40px 100px 40px;
        width: 92%;

        @media (max-width: 1200px) {
            width: 100%;
        }

        p {
            font-size: 24px;
            font-weight: 400;
        }

        @media (max-width: 1200px) {
            width: 100%;
            margin-bottom: 30px;
            padding: 20px 50px;
        }
    }

    .cus-grid {
        display: grid;
        grid-template-columns: 35% 65%;

        @media (max-width: 1200px) {
            grid-template-columns: 100%;
        }
    }
}

// tracking page

#tracking-page {
    padding-top: 70px;
    padding-bottom: 70px;

    .info-text {
        justify-content: center;
        align-items: center;
        min-height: 400px;
        display: grid;
        font-size: 20px;
        color: #818181;
        letter-spacing: 1.5px;
    }
}

// confirm page

.confirm-page {
    background-image: url(/storage/image/confirm-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    height: 100vh;

    .confirm-content {
        background-color: $teal;
        color: $color-white;
        padding: 20px 50px;
        border-radius: 15px;
        border: 5px solid #FFFFFF;
        width: 100%;
        max-width: 800px;
        min-height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5%;

        p {
            font-weight: 500;
            font-size: 20px;
            text-align: center;
        }
    }
}
