// Body
$body-bg: #8ECDD2;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #267ABF;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #FFA800;
$yellow: #ffed4a;
$green: #32C9AB;
$teal: #0094AE;
$cyan: #6cb2eb;

//cus-color

$color-white: #FFFFFF;