.btn {
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    line-height: 1;

    &-sm {
        height: 30px;
        font-size: 16px;
        padding: 5px 20px;
        display: flex;
        align-items: center;
        font-weight: 700;
    }

    &-md {
        height: 40px;
        font-size: 16px;
        padding: 5px 20px;
        min-width: 130px;
        font-weight: 400;
    }

    &-lg {
        height: 50px;
        font-size: 16px;
        padding: 5px 20px;
        min-width: 130px;
    }

    &-block {
        width: 100%;

        &_sm {
            @media only screen and (max-width:768px) {
                width: 100%;
            }
        }
    }

    &:focus,
    &.focus {
        outline: 0;
    }

    &-solid {
        background: $blue;
        color: $color-white !important;

        &:hover {
            color: $color-white;
            background-color: #335E81;
        }
    }

    &-green {
        color: $color-white;
        background: $green;
    }

    &-red {
        color: $color-white;
        background: #D0502A;
    }

    &-dark-gray {
        color: $color-white;
        background: #818181;
    }

    &-orange {
        background: #FFA800;
        color: $color-white;

        &:hover {
            background: #FFA800;
            color: $color-white;
            border: solid 5px #FFA800;
        }
    }

    &-black {
        color: #2E3239;
        border: solid 2px #2E3239;

        &:hover {
            background: #2E3239;
            color: $color-white;
        }
    }

    &-disabled {
        background-color: #B6B5B5;

        &:hover {
            background: #B6B5B5;
            color: $color-white;
        }
    }
}

.btn-round {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background: $blue;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &:hover {
        filter: unset;
    }

    p {
        font-size: 16px;
        font-weight: 700;
        color: $color-white;
    }
}

.btn-link {
    text-decoration: underline;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.5px;
    cursor: pointer;

    &-blue {
        color: $blue;
    }

    &-red {
        color: $red;
    }

    &-orange {
        color: $orange;
    }

    &-white {
        color: $color-white;
        font-size: 20px;
        font-weight: 400;
    }
}