.shipment,
.member-card {

    .card {
        border-radius: 15px !important;

        &-top {
            border-radius: 15px 15px 0px 0px;
            padding: 25px 25px 10px;
        }

        &-bottom {
            border-radius: 0px 0px 15px 15px;
            padding: 0 25px 25px;
        }

        .detail-info {
            font-size: 16px;
            letter-spacing: 1.5px;

            img {
                margin-right: 10px;
            }
        }

        .detail-info-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }


        .data {
            &-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;

                @media only screen and (max-width:576px) {
                    display: block;
                }


                &-top {
                    display: flex;
                    align-items: center;

                    @media only screen and (max-width:576px) {
                        margin-bottom: 1rem;
                    }

                    img {
                        margin-right: 12px;
                    }
                }

                &-title {
                    font-size: 20px;
                    color: #333333;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
            }

            &-label {
                font-size: 16px;
                font-weight: 700;
                color: #000000;
                margin-right: 5px;
                white-space: nowrap;
            }

            &-number {
                color: #FB1616;
                margin: 0 5px;
            }

            &-extra-info {
                color: $orange;
                margin-left: 33px;
            }

            &-content {
                font-weight: 500;
                font-size: 22px;
                line-height: 32px;
                display: flex;
                justify-content: space-between;
                text-align: center;

                i {
                    color: $green;
                }

                &-item {
                    display: grid;
                    align-items: stretch;

                    .item-label {
                        font-size: 16px;
                        font-weight: 400;
                        color: #606060;
                        line-height: 1.5;
                    }

                    .item-date {
                        font-size: 20px;
                        font-weight: 700;
                        display: grid;
                        align-items: end;
                    }
                }
            }
        }
    }

    .card-disabled {
        img {
            opacity: 0.5;
        }

        .data-header-title,
        .detail-info,
        .data-label,
        .data-number,
        .data-extra-info,
        .item-label,
        .item-date {
            color: #818181;
        }

        .data-content i {
            color: #818181;
        }

        button {
            cursor: not-allowed;
        }

        button {
            background-color: #B6B5B5;

            &:hover {
                background: #B6B5B5;
                color: $color-white;
                cursor: not-allowed;
            }
        }
    }
}

.location-card {

    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 15px;
    margin-bottom: 20px;

    @media only screen and (max-width:768px) {
        flex-direction: column;
    }

    .card-left {
        overflow: hidden;

        img {
            object-fit: cover;
            height: 100%;
            border-radius: 15px 0 0 15px;

            @media only screen and (max-width:768px) {
                height: 200px;
                border-radius: 15px 15px 0 0;
                width: 100%;
            }
        }
    }

    .card-right {
        padding: 20px;
    }

    .data {
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            @media only screen and (max-width:576px) {
                display: block;
            }

            &-top {
                display: flex;
                align-items: center;

                @media only screen and (max-width:576px) {
                    margin-bottom: 1rem;
                }

                img {
                    margin-right: 12px;
                }
            }

            &-title {
                p {
                    font-size: 20px !important;
                    color: #333333;
                    margin-bottom: 5px;
                    font-weight: 700 !important;
                }

            }
        }
    }

    .location-info {
        p {
            font-size: 16px !important;
            letter-spacing: 1.5px;
            font-weight: 400 !important;
        }

        .data-label {
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            margin-right: 5px;
        }

    }
}


.cus-badge {
    font-size: 14px;
    color: $color-white;
    padding: 3px 17px;
    margin-right: .5rem;
    border-radius: 4px;
    font-weight: 500;

    &-green {
        background: $green;
    }

    &-orange {
        background: $orange;
    }

    &-blue {
        background: $blue;
    }

    &-teal {
        background: $teal;
    }

    &-gray {
        background: #B6B5B5;
    }

    &-dark-gray {
        background: #818181;
    }
}


.member {
    &-card {

        .card {
            box-shadow: 0px 1px 5px 2px rgba(173, 173, 173, 0.1);
            height: 100%;
            border: none;
            justify-content: space-between;

            &-body {
                justify-content: center;
                display: grid;
                min-height: 590px;
                padding: 1.25rem 0;

                p {
                    text-align: center;
                    font-size: 16px;

                }
            }

            &-title {
                font-size: 25px;
                font-weight: 700;
                text-align: center;
            }

            &-subtitle {
                font-size: 18px;
                font-weight: 700;
                text-align: center;
            }
        }

        ul {
            padding-left: 0.5rem;
            list-style: none;
            justify-content: center;
            display: grid;

            li {
                margin-bottom: 10px;

                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: '\f00c';
                    margin-right: 1rem;
                    color: $orange;
                    font-size: 20px;
                    line-height: 0;
                }
            }
        }

    }
}

.member-regular {
    @media only screen and (min-width:992px) {
        p {
            margin-bottom: 26px;
        }
    }

    .card-top {
        background-color: $blue;
    }

    .card-title,
    .card-subtitle {
        color: $color-white;
    }
}

.member-group {
    .card-top {
        border-bottom: solid 2px $blue;
    }

    .card-title {
        color: $blue;
    }
}

.back-space {
    margin-left: 36px;
}

// description box

.des-box {
    border-radius: 15px;
    font-size: 20px;
    padding: 5%;
    font-weight: 400;

    ol li {
        margin-bottom: 15px;
    }

    &-white {
        background: $color-white;
    }

    &-blue {
        background: $blue;
        color: $color-white;
    }

}

.edit-box {
    border-radius: 15px;
    background: $color-white;
    width: 100%;
    min-height: 400px;
}