.inline-icon {
    i {
        margin-right: .5rem;
        color: $blue;
    }
}

a {
    color: $blue;

    &:hover {
        text-decoration: none;
        color: $blue;
        transition: .5s;
    }
}

.cus-form {
    label {
        font-size: 18px;
        color: #686D74;
    }

    select {
        background: $color-white;
        background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 50%;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        margin-right: 2rem;
        padding-right: 2rem;
    }

    input,
    select {
        border: 1px solid #BABFCC;
        box-sizing: border-box;
        border-radius: 4px;
        -webkit-appearance: none;

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #BABFCC;
            opacity: .7;
            /* Firefox */
        }
    }

    textarea {
        border: 1px solid #BABFCC;
        box-sizing: border-box;
        border-radius: 4px;
    }

    .form-group {
        margin-bottom: 30px;

    }

    .form-control-lg {
        height: 50px;
        font-size: 14px;
    }

}

// search bar 

#search-bar {
    background: $blue;
    padding: 30px 5%;
    border-radius: 0 0 50px 50px;

    i {
        font-size: 25px;
        color: $color-white;
    }
}